<% if current_user.role.name == "current_user"||"physician"||"admin"%>

  <% @records.each do|record|%>
  <h1><%=record.user.name%></h1>
  <div class="row"></div>
    <p>Height:<%=record.height%></p>
    <p>Symptoms: <%=record.symptoms%></p>
    <p>Weight: <%=record.weight%></p>
    <p>Blood Type: <%=record.blood_type%></p>
    <p>Family Medical History: <%=record.family_medical_history%></p>
    <%end %>
<% end %>
<% if current_user.role.name =="patient"%>
  <div>
    <button> <%=link_to "Back to Dashboarb", "/dashboards", method: :get %></button>
  </div>
<%else%>
  <div>
    <button> <%=link_to "Back to Hospital Record Portal", "/hospitalrecords", method: :get %></button>
  </div>
<% end %>


