<section class="mbr-slider mbr-section mbr-section--no-padding carousel slide" data-ride="carousel" data-wrap="true" data-interval="5000" id="slider-5" style="background-color: #4c6972;">
    <div class="mbr-section__container">
        <div>
            <ol class="carousel-indicators">
                <li data-app-prevent-settings="" data-target="#slider-5" data-slide-to="0" class="active"></li><li data-app-prevent-settings="" data-target="#slider-5" data-slide-to="1"></li><li data-app-prevent-settings="" data-target="#slider-5" class="" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner" role="listbox">
                <div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height active" style="background-image: url(http://essencz.com/wp-content/uploads/2016/05/1.jpg);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-right mbr-box__magnet--sm-padding">
                                            
                        <div class=" container">
                            
                            <div class="row">
                                <div class=" col-md-6 col-md-offset-5">  

                                <div class="mbr-hero">
                                    <h1 class="mbr-hero__text">SaNiCARE</h1>

                                    <p class="mbr-hero__subtext">Health, source of happiness</p>
                                </div>
                               <!--  <div class="mbr-buttons btn-inverse mbr-buttons--left mbr-buttons--right"><a class="mbr-buttons__btn btn btn-lg btn-danger" href="#">FREE DOWNLOAD</a> <a class="mbr-buttons__btn btn btn-lg btn-default" href="#">VIEW DEMO</a></div>
                                </div> -->
                            </div>
                        </div>
                    </div>
               <!--  </div><div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height" style="background-image: url(https://images.unsplash.com/photo-1429655353447-d030683895ad);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-center mbr-box__magnet--sm-padding">
                                            
                        <div class=" container">
                            
                            <div class="row">
                                <div class=" col-md-8 col-md-offset-2">  

                                <div class="mbr-hero">
                                    <h1 class="mbr-hero__text">Full-Screen Bootstrap Carousel</h1>

                                    <p class="mbr-hero__subtext">Slide 2. Centered content</p>
                                </div>
                                <div class="mbr-buttons btn-inverse mbr-buttons--center"><a class="mbr-buttons__btn btn btn-lg btn-danger" href="#">FREE DOWNLOAD</a> <a class="mbr-buttons__btn btn btn-lg btn-default" href="#">VIEW DEMO</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="mbr-box mbr-section mbr-section--relative mbr-section--fixed-size mbr-section--bg-adapted item dark center mbr-section--full-height" style="background-image: url(https://images.unsplash.com/uploads/1412017894428ae87a2ba/d8b14e97);">
                    <div class="mbr-box__magnet mbr-box__magnet--center-left mbr-box__magnet--sm-padding">
                                            
                        <div class=" container">
                            
                            <div class="row">
                                <div class=" col-md-6 col-md-offset-1">  

                                <div class="mbr-hero">
                                    <h1 class="mbr-hero__text">Full-Width Bootstrap Carousel</h1>

                                    <p class="mbr-hero__subtext">Slide 3. Content aligned to right </p>
                                </div>
                                <div class="mbr-buttons btn-inverse mbr-buttons--left"><a class="mbr-buttons__btn btn btn-lg btn-danger" href="#">FREE DOWNLOAD</a> <a class="mbr-buttons__btn btn btn-lg btn-default" href="#">VIEW DEMO</a></div>
                                </div>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
            
            <!-- <a data-app-prevent-settings="" class="left carousel-control" role="button" data-slide="prev" href="#slider-5">
                <span aria-hidden="true"><</span>
                <span class="sr-only">Previous</span>
            </a>
            <a data-app-prevent-settings="" class="right carousel-control" role="button" data-slide="next" href="#slider-5">
                <span aria-hidden="true">></span>
                <span class="sr-only">Next</span>
            </a> -->
        </div>
    </div>
</section>

<br>
<h1> List of Hospitals </h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-2">
      <div class="hospitalbox">
        <img src="<%=@healthcarefacilities.first.images.first.url%>" class="img-responsive">
        <div class="hospitaltitle"><strong><%= link_to @healthcarefacilities.first.name, "healthcarefacilities/#{@healthcarefacilities.first.id}"%></strong></div>
        <address>
          Location:<%=@healthcarefacilities.first.location%><br>
          <abbr title="Phone">Phone Number:</abbr><%=@healthcarefacilities.first.phone_number%>
        </address>

        <address>
          <strong>Desrciption</strong><br>
          <p><%=@healthcarefacilities.first.description%></p>
        </address>
      </div>
    </div>
    <div class="col-md-2">
      <div class="productbox">
      <img src="<%=@healthcarefacilities.second.images.first.url%>" class="img-responsive">
        <div class="hospitaltitle"><strong><%= link_to @healthcarefacilities.second.name, "healthcarefacilities/#{@healthcarefacilities.second.id}"%></strong></div>
        <address>
          Location:<%=@healthcarefacilities.second.location%><br>
          <abbr title="Phone">Phone Number:</abbr> <%=@healthcarefacilities.second.phone_number%>
        </address>

        <address>
          <strong>Description</strong><br>
          <p><%=@healthcarefacilities.second.description%></p>
        </address>
      </div>
    </div>
    <div class="col-md-2">
      <div class="productbox">
      <img src="<%=@healthcarefacilities.third.images.first.url%>" class="img-responsive">
        <div class="hospitaltitle"><strong><%= link_to @healthcarefacilities.third.name, "healthcarefacilities/#{@healthcarefacilities.third.id}"%></strong></div>
        <address>
          Location:<%=@healthcarefacilities.third.location%><br>
          <abbr title="Phone">Phone Number:</abbr> <%=@healthcarefacilities.third.phone_number%>
        </address>

        <address>
          <strong>Description</strong><br>
          <p><%=@healthcarefacilities.third.description%></p>
        </address>
      </div>
    </div>
    <div class="col-md-2">
      <div class="productbox">
      <img src="<%=@healthcarefacilities.fourth.images.first.url%>" class="img-responsive">
        <div class="hospitaltitle"><strong><%=link_to @healthcarefacilities.fourth.name, "healthcarefacilities/#{@healthcarefacilities.fourth.id}"%></strong></div>
        <address>
          Location:<%=@healthcarefacilities.fourth.location%><br>
          <abbr title="Phone">Phone Number:</abbr> <%=@healthcarefacilities.fourth.phone_number%>
        </address>

        <address>
          <strong>Description</strong><br>
          <p><%=@healthcarefacilities.fourth.description%></p>
        </address>
      </div>
    </div> 
    <div class="col-md-2">
      <div class="productbox">
      <img src="<%=@healthcarefacilities.fifth.images.first.url%>" class="img-responsive">
        <div class="hospitaltitle"><strong><%= link_to @healthcarefacilities.fifth.name, "healthcarefacilities/#{@healthcarefacilities.fifth.id}"%></strong></div>
        <address>
          Location:<%=@healthcarefacilities.fifth.location%><br>
          <abbr title="Phone">Phone Number:</abbr> <%=@healthcarefacilities.fifth.phone_number%>
        </address>

        <address>
          <strong>Description</strong><br>
          <p><%=@healthcarefacilities.fifth.description%></p>
        </address>
      </div>
    </div>

  </div>
</div>
</div>
<%if current_user.role.name=="patient"%>
  <div>
  <button> <%=link_to "Back to Dashboarb", "/dashboards", method: :get %></button>
  </div>
<%end%>
</div>
  
