<html lang="en">
  <head>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Hospital Details</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

  </head>

  <body>
  
  <div class="container">
    <div class="card">
      <div class="container-fliud">
        <div class="wrapper row">
          <div class="preview col-md-6">
            
            <div class="preview-pic tab-content">
              
                <div class="tab-pane active" id="pic-1"><img src="<%=@healthcarefacility.images.first.url%>" height ="400" width="450" /></div>
                <div class="tab-pane" id="pic-2"><img src="<%=@healthcarefacility.images.second.url%>" height ="400" width="450" /></div>
                <div class="tab-pane" id="pic-3"><img src="<%=@healthcarefacility.images.last.url%>" height ="400" width="450" /></div>
              
            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="<%=@healthcarefacility.images.first.url%>" height ="80" width="90" /></a></li>
              <li><a data-target="#pic-2" data-toggle="tab"><img src="<%=@healthcarefacility.images.second.url%>" height ="80" width="90"/></a></li>
              <li><a data-target="#pic-3" data-toggle="tab"><img src="<%=@healthcarefacility.images.last.url%>" height ="80" width="90" /></a></li>
            </ul>
          </div>
            
          <div class="details col-md-6">
            <h3 class="hospital-title"><strong><%=@healthcarefacility.name%></strong></h3>
            <div class="rating">
              <div class="stars">
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star"></span>
                <span class="fa fa-star"></span>

                <p class="hospital-location">Location:<%=@healthcarefacility.location%></p>
                <p class="hospital-address">Phone Number:<%=@healthcarefacility.phone_number%></p>
                <p class="hospital-description"><%=@healthcarefacility.description%></p>
                <div>
                  <strong>Services</strong> <br>
                   <%@healthcarefacility.service_hospitals.each do|service_hospital|%>
                    <p><strong><%=service_hospital.service.name%></strong>:<%=service_hospital.service.description%></p> 
                  <% end %> 
                </div>
                <% if current_user.role.name == "physician"%>
                  <div>
                  <%= button_to "Back to Hosptials", "/healthcarefacilities", method: :get %> <br>
                  <%= button_to "Edit", "/healthcarefacilities/#{@healthcarefacility.id}/edit", method: :get%> <br>
                  <%= button_to "Delete", "/healthcarefacilities/#{@healthcarefacility.id}", method: :delete %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
                  
      </div>
    </div>
  </div>
  </body>
</html>
              

            
    
