<!DOCTYPE html>
<html>
  <head>
    <title>Hospital</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <br>
  <img height ="40" width="100"class="home" src="<%= image_url('logo.png') %>">
    <% flash.each do |name,message| %>
      <div class= "alert alert-<%=name %>"" role="alert"><%= message %></div>
    <%end%>

    <% if current_user%>
      <nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation">
        <div class="navbar-toggler animate">
          <span class="menu-icon"></span>
        </div>
        <ul class=" navbar-menu animate">
          <li><a href="/healthcarefacilities">Hospitals</a></li>
          <%if current_user.role.name=="patient"%>
            <li ><a href="/dashboards">Dashboard</a></li>
            <%else%>
            <li><a href="/hospitalrecords">Hospital Records</a></li>
          <%end%>

          <%if current_user%> 
            <li><%= link_to "Logout", "/logout", method: :delete %></li>
          <%else%>
            <li><%= link_to "Sign Up", "/signup" %></li>
            <li><%= link_to "Login", "/login" %></li>
          <% end %>
          <li><a href="/users/<%=current_user.id%>">Profile</a></li>
        </ul>
      </nav>
    <% end %>
    <br>
    <br>

    <%= yield %>
  </body>
   <!--  <%= debug(params) if Rails.env.development? %> -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <footer>
        <div class="footer" id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> SaNiCare </h3>
                        <ul>
                            <li> Serve Patients </li>
                            <li> Facilitate Physicians </li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Sandrine Nikuze </h3>
                        <ul>
                            <li> Rwandan</li>
                            <li> Healthcare Managment </li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Kepler Kigali </h3>
                        <ul>
                            <li> University Program </a> </li>
                            <li> <a href="www.kepler.org"> Link</a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                        <h3> Actualize </h3>
                        <ul>
                            <li> BootCamp </a> </li>
                            <li> <a href="http://www.anyonecanlearntocode.com/"> Learn more about </a> </li>
                    </div>
                    <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                        <h3> Contact us </h3>
                        <ul>
                            <li>
                                nikuzesandrine@yahoo.fr
                                sandrine.nikuze2014@kepler.org
                            </li>
                        </ul>
                        <ul class="social">
                            <li> <a href="https://www.facebook.com/nikuze.sandrine"> <i class=" fa fa-facebook">   </i> </a> </li>
                            <li> <a href="https://twitter.com/?request_context=signup"> <i class="fa fa-twitter">   </i> </a> </li>
                            <li> <a href="https://www.youtube.com/channel/UCDs5vAxrQ-4Oio1TW76J8Wg"> <i class="fa fa-youtube">   </i> </a> </li>
                        </ul>
                    </div>
                </div>
                <!--/.row--> 
            </div>
            <!--/.container--> 
        </div>
        <!--/.footer-->
        
        <div class="footer-bottom">
            <div class="container">
                <p class="pull-left"> Copyright © SaNiCARE. All right reserved. </p>
                <div class="pull-right">
                    <ul class="nav nav-pills payments">
                        <li><img height ="40" width="100"class="home" src="<%= image_url('logo.png') %>"></li>
                    </ul> 
                </div>
            </div>
        </div>
        <!--/.footer-bottom--> 
    </footer>
</html>


